.comment.clearfix
  .content
    %p.comment_content= comment.comment
    %p.comment_author= comment.user.email
  .buttons
    = link_to "Edit", edit_post_comment_path(@post.id, comment.id)
    = link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?"}