#posts
  - @posts.each do |post|
    .post
      %h2.title= link_to post.title, post
      %p= truncate(post.content, length: 200)
      %p.date 
        Published at
        = time_ago_in_words(post.created_at)
        by
        = post.user.email
  
