#post_content
  %h1= @post.title
  %p= @post.content
  
  #comments
    %h2= pluralize(@post.comments.count, "comment") + ":"
    = render @post.comments
      
    %h3 Reply to thread
    = render "comments/form"

  = link_to "Back", root_path
  = link_to "Edit", edit_post_path(@post)
  = link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure?" }