/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
  background: #EDEFF0;
}

.form-inputs {
  width: 100%;
}


.wrapper {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.main_header {
  background: white;
  width: 100%;
  margin: 0 auto;
  
  #logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 1.2rem;
    float: left;
    a {
      text-decoration: none;
      color:#397CAC;
    }
  }
  
  #buttons {
    float: right;
    a {
      line-height: 60px;
      font-weight: 100;
      background: #397CAC;
      padding: .5em 1em;
      border-radius: 0.2em;
      color: white;
      text-decoration: none;
    }
  }
}


#posts {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
      h1 {
        font-weight: 100;
        font-size: 2em;
        color: #397CAC;
        margin-top: 0;
      }
      
      p {
        color: #B2BAC2;
        font-size: 0.9rem;
        font-weight: 100;
        line-height: 1.5;
      }
      .post {
        margin: 1em 0;
        padding: 1em 0;
        border-bottom: 1px solid #D1d1d1;
            .title {
              margin: 0;
                  a {
                    color: #397CAC;
                    text-decoration: none;
                    font-weight: 100;
                    font-size: 1.25rem;
                  }
            }
            .date {
              margin-top: .25rem;
              font-size: 0.9rem;
              color: #B2BAC2;
            }
      }
      
      
      
      
      
      
}

#post_content {
  background: white;
  padding: 2em 5%;
  border-radius: 2em;
  h1 {
    font-weight: 100;
    font-size: 2em;
    color: #397CAC;
    margin-top: 0;
  }
  p {
    color: #B2BAC2;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.5;
  }
  #comments {
    margin-top: 3rem;
    h2 {
      color: #397CAC;
      font-weight: 200;
      font-size: 1em;
    }
      .comment {
        border-bottom: 1px solid #d1d1d1;
        padding-bottom: 1em;
        margin-bottom: 1em;

          .comment_content {
            margin: 0;
            padding: 0;
          }
          .comment_author {
            margin-top: .5rem;
            font-size: 0.8em;
            font-weight: 700;
            color: #397CAC;
          }
          
          .content {
            width: 70%;
            float: left;
          }
          .buttons {
            width: 30%;
            float: left;
            text-align: right;
            
            a {
            line-height: 20px;
            font-weight: 100;
            border: 1px solid #ADBBC5;
            font-size: 0.8em;
            padding: .25em .5em;
            border-radius: 0.2em;
            text-align: right;
            color: #397CAC;
            text-decoration: none;
            }
          }
    }
    textarea {
    width: 100%;
    height: 150px;
    border-radius: .5em;
    border: 1px solid #D8D5D5;
    margin: 1em 00 1em;
    }
    
    input {
    background-color: #397CAC;
    border: none;
    color: white;
    font-weight: 200;
    font-size:1em;
    margin-bottom: 1em;
    }

  }
      a {
            line-height: 20px;
            font-weight: 300;
            font-size: 1em;
            padding: 0.25em;
            border-radius: 0.2em;
            text-align: right;
            color: #397CAC;
            }
}
  

