!!!
%html
%head
  %title Michal's forum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
  %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato:400,300,700", type: "text/css" }
  %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" }
  
  = javascript_include_tag 'application', 'data-turbolinks-track' => true 
  = csrf_meta_tags
%body
  %header.main_header.clearfix
    .wrapper
      #logo 
        %p= link_to "Michal's forum", root_path
      #buttons
        - if user_signed_in? 
          = link_to "New post", new_post_path
          = link_to "Sign out", destroy_user_session_path(current_user), method: :delete
        - else
          = link_to "Sign in", new_user_session_path
          = link_to "Sign up", new_user_registration_path
  .wrapper
    %p.notice= notice
    %p.alert= alert
  .wrapper
    = yield

